config.js
node_modules

*.min.*.js
*.min.*.css

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log

public/uploads/*
!public/uploads/.keep

dump.rdb

logs/*
!logs/.keep
.vscode
